.navBarContainer {
    width: 100%;
    bottom: 0;
    /* margin-left: 1rem;
    margin-right: 1rem; */
    height: 4.80rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #E9E9E9;
}

.scanButton:hover {
    color: #0D986A;

}